<div class="container">
<p class="newDocTitle">Nueva Cédula</p>
  <div class="row">

    <div class="col-lg-3 col-md-3">
    </div>
    <div class="col-lg-6 col-12 col-md-6">

      <div class="formCedula">
        <p>Nombre</p>
        <input type="text" style="margin-bottom:5%;"/><br>
        <p>Fecha de Nacimiento</p>
          <mat-form-field>
            <input class="date" matInput [matDatepicker]="simpleDate"  readonly>
            <mat-datepicker-toggle class="toggle" matSuffix [for]="simpleDate" >
            </mat-datepicker-toggle>
            <mat-datepicker #simpleDate></mat-datepicker>
          </mat-form-field>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-6">
            <p>G.S</p>
            <mat-form-field>
              <select matNativeControl required>
                  <option value="gsO">O</option>
                  <option value="gsA">A</option>
                  <option value="gsB">B</option>
                  <option value="gsAB">AB</option>

              </select>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-6">
            <p>RH</p>
            <mat-form-field>
              <select matNativeControl required>
                  <option value="gs-">+</option>
                  <option value="gs+">-</option>
              </select>
            </mat-form-field>
          </div>
        </div>
        <p>Departamento</p>
        <mat-form-field>
          <select matNativeControl required>
              <option value="antioquia">Antioquia</option>
              <option value="arauca">Arauca</option>
              <option value="atlantico">Atlántico</option>
              <option value="bolivar">Bolivar</option>
              <option value="boyaca">Boyacá</option>
              <option value="boyaca">Cundinamarca</option>
          </select>
        </mat-form-field>
        <p>Ciudad</p>

        <mat-form-field>
          <select matNativeControl required>
              <option value="bogota">Bogotá</option>
              <option value="chia">Chía</option>
              <option value="faca">Facatativá</option>
              <option value="bolivar">Cajicá</option>
          </select>
        </mat-form-field>

        <p>Sexo</p>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-6">
            <div class="radio">
              <label><input type="radio" name="optradio">Masculino</label>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-6">
            <div class="radio">
              <label><input type="radio" name="optradio">Femenino</label>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-default newCedBoton">Crear</button>

      </div>


    </div>


    <div class="col-lg-3 col-md-3 thirdColumn">
      <div class="okCircle">
        <div class="checkmark">

        </div>
      </div>
    </div>

  </div>

</div>
